<!DOCTYPE html>
<html>
    <head>
        <title>Load</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
       <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    </head>

    <body>
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="home.html">OpenData</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link"  href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="searchTags.html">Tags</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="searchOrgs.html">Publishers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="searchPackages.html">Packages </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="searchResources.html">Resources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="search.html">Search</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  active" aria-current="page" href="load.html">Load</a>
                  </li>
                                  

                </ul>
              </div>
            </div>
          </nav>
        </div>

<div class="container">
  <div class="jumbotron">
    
    This application connects with the Open Data Portal using the API. 
    To retrieve the list of publishers, tags used or the list of datasets hosted on the open data portal, click the buttons below.
    To view or search the lists returned from the database please use the links at the top of the page.


    
  </div>

        <div id='loadForm' style="display: block" class="text-center">
            
            <input type="hidden" name="id"/>
    
    
          
            <span><button id="loadOrgsTablesButton" onclick="loadOrgsAjax()">Load list of Publishers / Organizations</button></span></br>
  
            <span><button id="loadTagsTablesButton" onclick="loadTagsAjax()">Load list Tags</button></span></br>
          
            <span><button id="loadDatasetsTablesButton" onclick="loadDatasetsAjax()">Load list datasets</button></span></br>
            
        </div>


    </div>
     
<script>


function loadOrgsAjax(){
            host = window.location.origin
            
            $.ajax({
                
                "url": host+"/orgs_load",
                "method":"GET",
                "data":"",
                "dataType": "JSON",
                
                "success":function(result){
                    console.log("loading")
                    console.log(result)
                                   
                    
                },
                "error":function(xhr,status,error){
                    console.log("error: "+status+" msg:"+error);
                }
            });

        }

        function loadTagsAjax(){
            host = window.location.origin
            
            $.ajax({
                
                "url": host+"/tags_load",
                "method":"GET",
                "data":"",
                "dataType": "JSON",
                
                "success":function(result){
                    console.log("loading")
                    console.log(result)
                                   
                    
                },
                "error":function(xhr,status,error){
                    console.log("error: "+status+" msg:"+error);
                }
            });

        }

        function loadDatasetsAjax(){
            host = window.location.origin
            
            $.ajax({
                
                "url": host+"/packages_load",
                "method":"GET",
                "data":"",
                "dataType": "JSON",
                
                "success":function(result){
                    console.log("loading")
                    console.log(result)
                                   
                    
                },
                "error":function(xhr,status,error){
                    console.log("error: "+status+" msg:"+error);
                }
            });

        }

</script>   

    </body>
</html>